.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 300ms;
}

.slide-fade-enter-to, .slide-fade-leave {
    opacity: 1;
    transform: translateY(0);
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
    transform: translateY(5%);
}